MODE=private
PREFIXES=.
PORT=3000
SESSION=

TZ=Africa/Nairobi

ANTICALL=off
ANTIDELETE=on
ANTIEDIT=on

AUTO_READ=on
AUTO_VIEW=on
AUTO_LIKE=on
AUTO_TYPING=on
AUTO_REACT=on
AUTO_REPLY=on

DM_PRESENCE=
GRP_PRESENCE=

USER_LID=

OWNER_NUMBER=
OWNER_NAME=
